{% extends "layout.html" %}

{% block contained %}
<div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-8 col-lg-6">
        <h1>About</h1>
        <p>Results displayed in this site include gene-based rare variant test for UK-Biobank 200K exome data. 
		SAIGE-GENE+ was applied to analyze 18,372 genes using three different minor allele frequency (MAF) cutoffs: 1%, 0.1%, and 0.01% 
		and three different variant annotations: LoF only, LoF+missense, and LoF+missense +synonymous for 30 quantitative and 141 binary traits. 
		The nine SKAT-O test p-values were then combined using the Cauchy combination or the minimum p-value approach.  
		SKAT-O p-values of each variant set can be found in gene+phenotype page. 
		
		<br><br> Preprint can be found at:<br>
		
Wei Zhou, Wenjian Bi, Zhangchen Zhao, Kushal K. Dey, Karthik A. Jagadeesh, Konrad J. Karczewski, Mark J. Daly, Benjamin M. Neale, Seunggeun Lee, 
Set-based rare variant association tests for biobank scale sequencing data sets <br>
medRxiv 2021.07.12.21260400; doi: https://doi.org/10.1101/2021.07.12.21260400
		
		
<br><br>
If you have any questions, please send email to Wei Zhou (email: wzhou@broadinstitute.org) or Seunggeun Lee (email: lee7801@snu.ac.kr )
</p>
<br><br>
<h3> Acknowledgment </h3>
<p>
This browser is created based on PheWEB. <br>
This research has been conducted using the UK Biobank Resource under application number 45227. <br>
</p>
    </div>
</div>
{% endblock %}
