{% extends "layout.html" %}

{% block contained %}
<div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-8 col-lg-6">
        <h1>About</h1>
        <p>Due to the quality issue in Regeneron pipeline, results displayed in this site include gene-based rare variant test for UK-Biobank 50K exome data processed by FE pipeline. The robust SKAT-O approach has been used for the rare nonsynonymous and splicing variants with minor allele frequencies (MAFs) < 0.01 in exon regions, , particularly we used annotation of frameshift deletion, frameshift insertion, nonframeshift deletion, nonframeshift insertion, nonsynonymous SNV, splicing, stopgain and stoploss. These variants were annotated using the software ANNOVAR (Version built on 2018-04-16)  with refGene database (hg38). A total of 18,360 genes were analyzed based on 45,596 independent European samples across 791 binary phenotypes with at least 50 cases. For phenotypes with case-control ratios more extreme than 1:99, we identified the ancestry-matched control samples to make case-control ratios 1:99. Age, sex and the first 4 principal components were adjusted.
<br><br>
If you have any questions, please send email to Zhangchen Zhao (email: zczhao@umich.edu) or Seunggeun Lee (email: leeshawn@umich.edu )
</p>
<br><br>
<h3> Acknowledgment </h3>
<p>
This browser is created based on PheWEB. <br>

This research has been conducted using the UK Biobank Resource under application number 45227. <br>
</p>
    </div>
</div>
{% endblock %}
