{% extends "layout.html" %}


{% block in_head %}
<script type="text/javascript">
  window.model.phecode = {{ phecode|tojson(separators=(',',':'))|safe }};
</script>

<script src="https://cdn.jsdelivr.net/npm/d3-tip@0.6.7/index.min.js"></script>

<script src="{{ url_for('.static', filename='pheno.js') }}" type="text/javascript"></script>
<style type="text/css">
.d3-tip {
  line-height: 1.4;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  pointer-events: none;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

#manhattan_plot_container {
  min-width: 700px;
}
#manhattan_plot_container .axis > path.domain {
  stroke-width: 2px;
  stroke: #666;
  fill: none;
}
#manhattan_plot_container .axis g.tick line {
  stroke: #666;
}

</style>
{% endblock %}


{% block contained %}
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <h1 style="margin-top:0">{{ phecode }}: {{ phenostring }}</h1>
        <p>Category: <b>{{ category }}</b></p>
		<p>Sample Size: <b>{{ sample_size }}</b></p>
        <p>Showing the top 1000 genes</p>
    </div>
    <div class="col-xs-12 col-sm-4">
        <span class="pull-right">
            {# <a class="btn btn-default" href="{{ url_for('.download_pheno', phecode=phecode) }}">Download summary statistics</a> #}
        </span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="manhattan_plot_container"></div>
        <div id="table" class="table-striped table-bordered"></div>
    </div>
</div>
{% endblock %}
